{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- doccure/patient-dashboard.html  30 Nov 2019 04:12:16 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>NutriCare</title>

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'HealthStack-System/images/Normal/favicon.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/diet.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}"
    />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/style.css' %}"
    />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <header class="header">{% include 'patient_navbar.html' %}</header>
      <!-- /Header -->

      <!-- Breadcrumb -->
      <div class="breadcrumb-bar">
        <div class="container-fluid">
          <div class="row align-items-center">
            
            <div class="col-md-12 col-12">
              <nav aria-label="breadcrumb" class="page-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{% url 'patient-dashboard' %}">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Patient Dashboard
                  </li>
                </ol>
              </nav>
              <h2 class="breadcrumb-title">Patient Dashboard</h2>{% include 'message.html' %}
            </div>

          </div>
        </div>
      </div>
      <!-- /Breadcrumb -->
      
      <!-- Page Content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
              <div>{% include 'patient-sidebar.html' %}</div>
            </div>
            <!-- / Profile Sidebar -->

            <div class="col-md-7 col-lg-8 col-xl-9">
              <div class="card">
                <div class="card-body pt-0">
                 <!-- dietplan cards start -->
                 <div class="card mt-5">
                    <div class="card-body pt-0 mt-4">
                        <h4 class="card-title">Diet Plans</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="diet-plan-box">
                                    <h5>Weight Loss</h5>
                                    <ul>
                                        <li>Focus on whole foods</li>
                                        <li>Reduce calorie intake</li>
                                        <li>Increase physical activity</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="diet-plan-box">
                                    <h5>Allergies</h5>
                                    <ul>
                                        <li>Avoid trigger foods</li>
                                        <li>Consult with an allergist</li>
                                        <li>Consider allergen immunotherapy</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="diet-plan-box">
                                    <h5>GERD (Gastroesophageal Reflux Disease)</h5>
                                    <ul>
                                        <li>Avoid acidic foods</li>
                                        <li>Eat smaller, more frequent meals</li>
                                        <li>Avoid lying down after eating</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="diet-plan-box">
                                    <h5>IBS (Irritable Bowel Syndrome)</h5>
                                    <ul>
                                        <li>Avoid trigger foods like certain carbohydrates</li>
                                        <li>Eat smaller meals</li>
                                        <li>Stay hydrated</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="diet-plan-box">
                                    <h5>IBD (Inflammatory Bowel Disease)</h5>
                                    <ul>
                                        <li>Follow a low-residue diet during flares</li>
                                        <li>Consume plenty of fluids</li>
                                        <li>Consult with a gastroenterologist</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="diet-plan-box">
                                    <h5>Other Diseases</h5>
                                    <ul>
                                        <li>Consult with a registered dietitian</li>
                                        <li>Follow medical recommendations</li>
                                        <li>Consider dietary supplements if necessary</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                 <!-- dietplan cards end -->
               
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- /Footer -->
    </div>
    

    <!-- jQuery -->
    <script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Sticky Sidebar JS -->
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>

    <!-- Searchbar JS -->
    <script src="{% static 'HealthStack-System/js/Normal/sidebar.js' %}"></script>

    {% if messages %}
    <script>
        {% for message in messages %}
            $(document).ready(function () {
                $('.toast').toast('show');
            });
        {% endfor %}
    </script>
  {% endif %}



  </body>

  <!-- doccure/patient-dashboard.html  30 Nov 2019 04:12:16 GMT -->
</html>
