{% load static %}

<footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-lg-6 col-md-6">
            <!-- Footer Widget -->
            <div class="footer-widget footer-about">
              <div class="footer-logo">
                <!-- <img
                  src="{% static 'HealthStack-System/images/Normal/NutriCare_Logo.png' %}"
                  alt="logo"
                /> -->
                <h2 style="color: white;">NutriCare Ai</h2>
              </div>
              <div class="footer-about-content">
                <p>
                  NutriCare Ai offer personalized nutritional assistance for managing chronic diseases, achieving weight loss or gain, and reaching fitness goals. With expert guidance and cutting-edge technology, we ensure your health journey is optimized. In our Doctor Section, our team of professionals specializes in providing tailored support for your well-being. Whether you're striving to manage a chronic condition or meet your fitness objectives care to empower you on your path to a healthier life.
                </p>
                <br>
                <div class="social-icon">
                  <ul>
                    <li>
                      <a href="#" target="_blank"
                        ><i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank"
                        ><i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank"
                        ><i class="fab fa-linkedin-in"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#" target="_blank"
                        ><i class="fab fa-instagram"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#" target="_blank"
                        ><i class="fab fa-dribbble"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /Footer Widget -->
          </div>


          <div class="col-lg-3 col-md-6">
            <!-- Footer Widget -->
            
            <!-- /Footer Widget -->
          </div>

          <div class="col-lg-3 col-md-6">
            <!-- Footer Widget -->
            <div class="footer-widget footer-contact">
              <h2 class="footer-title">Contact Us</h2>
              <div class="footer-contact-info">
                <div class="footer-address">
                  <span><i class="fas fa-map-marker-alt"></i></span>
                  <p>
                    Lahore<br />
                    Punjab, Pakistan
                  </p>
                </div>
                <p>
                  <i class="fas fa-phone-alt"></i>
                  +92 307 199 7751
                </p>
                <p class="mb-0">
                  <i class="fas fa-envelope"></i>
                  nutricareai@medical.com
                </p>
              </div>
            </div>
            <!-- /Footer Widget -->
          </div>
        </div>
      </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    
    <!-- /Footer Bottom -->
  </footer>